services:
    api:
        container_name: portfolio-api
        image: gabrielsouz/portfolio-api:latest
        env_file: 
            - .env
        ports:
            - "5000:8080"   # HTTP
        environment:
            - AdminUser__UserName=${AdminUser__UserName}
            - AdminUser__Password=${AdminUser__Password} 

            - Jwt__Secret=${Jwt__Secret}
            - Jwt__Issuer=${Jwt__Issuer}
            - Jwt__Audience=${Jwt__Audience}
            - Jwt__ExpirationMinutes=${Jwt__ExpirationMinutes}

            - ASPNETCORE_ENVIRONMENT=Development
            - ASPNETCORE_URLS="http://0.0.0.0:8080"
        volumes:
            - ./Storage:/app/Storage