services:
    api:
        container_name: portfolio-api
        image: gabrielsouz/portfolio-api:latest
        env_file: 
            - .env
        ports:
            - "5000:8080"   # HTTP
        environment:
            ASPNETCORE_ENVIRONMENT: Development
            ASPNETCORE_URLS: "http://0.0.0.0:8080"